@import url(http://fonts.googleapis.com/css?family=Jura:400,600|Play:400,700|Roboto:700&subset=latin,greek);

/**
 * My custom CSS rules go into this file
 */

 /* :root {
  Nautical Breeze
  --primary-color: #141e26;
  --secondary-color: #1e5067;
  --accent-color: #159ab7;
  --background-color: #cbd8df;
  --light-color: #ffffff;
  --light-secondary-color: #eae8fa;
  --dark-color: #1a535c; */

	/* --primary-color: #002B36;
	--secondary-color: #073642;
	--accent-color: #6c71c4;
	--background-color: #586E75;
	--light-color: #eee8d5;
	--light-secondary-color: #fdf6e3;
	--dark-color: #073642; 
}*/


.select2-container--default .select2-selection--multiple {
    background-color: var(--light-secondary-color);
}

.select2-container--open .select2-dropdown--below {
	background-color: var(--light-secondary-color);
}

.select2-container--default .select2-selection--single {
	background-color: var(--light-secondary-color);
	/* border: 1px solid var(--secondary-color); */
}

.select2-search--dropdown .select2-search__field {
	background-color: var(--light-secondary-color);
}

.ck.ck-editor .ck-editor__top .ck-sticky-panel .ck-toolbar {
	z-index: var(--ck-z-panel);
	background-color: var(--light-color);
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
	/* border-color: var(--ck-color-base-border); */
	background-color: var(--light-secondary-color);
}


/* Fast Selector Icon */
.br-icon{
  position: fixed;
  padding-left:8px;
  padding-top:8px;
  color:lightgray;
  bottom: 17px;
  right: 17px;
  z-index: 100;
  height: 46px;
  width: 46px;
  border-radius: 100%;
  background-color: #e91e63;
  box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.58);
  -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
  -webkit-transform: scale(0.9);
            transform: scale(0.9);
  cursor: pointer;
}
.br-icon:hover{
  transform: scale(1.1);
}

/* SMS info styling */
.smsInfo {
  margin-top: 10px;
  line-height: 10px;
  font-size: smaller;
}

.icon-question-sign, .icon-info-sign {
  cursor: pointer;
}
.modalSMStextHeader{
  background-color: var(--secondary-color);
  color: var(--light-color);
  /* border-radius: 9px 9px 0px 0px; */
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}

.modalSMStext {
  border-style: solid;
  border-width: 1px;
  /* border-radius: 9px; */
  border-color: var(--accent-color);
  line-height: 2em;
  background-color: whitesmoke;
  padding: 15px;
  /* margin: 15px 200px; */
  font-size: 14px;
}

.pager li>a, .pager li>span {
  border-radius: 10px;
  padding: 5px 14px;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse {
  background: var(--primary-color);  
  border: none;
}
.navbar-inverse .navbar-brand{
  color: var(--accent-color);
  font-weight: 600;
}
.navbar-inverse .navbar-nav>li>a{
  color: var(--light-color);
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
}

.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
}

/* Main title for my pages based on jumbotron from bootstrap docs.css 
---------------------------------------------------------------------*/

.navbar.navbar-inverse.navbar-top {
  margin-bottom: 0px;
}

.navbar.navbar-default.navbar-top {
  margin-bottom: 0px;
}

.jumbotron {
  padding-top: 15px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
  background: var(--secondary-color);
}

.jumbotron.subhead {
  padding-top: 50px;
  padding-bottom: 40px;
}

body.slide-active div.wrapper div.jumbotron.subhead {
  position: relative;
  margin-top: -40px;
}

.jumbotron h1 {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--light-color);
  letter-spacing: -1px;
  line-height: 1;
}

.jumbotron p {
  font-size: 20px;
  font-weight: 300;
  color: var(--light-color);
  line-height: 1.25;
  margin-bottom: 0px;
}

/* change background colors 
---------------------------*/

body {
  background-color: var(--light-color);
  background: var(--background-color);
  /* font-family: 'Jura', sans-serif; */
  /* font-weight: 400; */
}

/* Sticky footer based on from http://ryanfait.com/sticky-footer/ 
--------------------------------------------------------------*/

/* * {
  margin: 0;
} */

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: calc(100vh - 100px - 40px);
  margin-bottom: 40px;
}

/* .main{
  padding-bottom:60px;
} */


.footer {
  width: 100%;
  color: var(--light-color);
  padding: 20px 0;
  background-color: var(--secondary-color);
  height: 100px;
  clear: both;
}

.footer a {
  color: var(--light-color);
  font-weight: 600px;
}

.footer a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

/* end of sticky footer*/

.social {
  color: var(--light-color);
  float: center;
  margin-top: 5px;
}

.social span {
  margin-right: 7px;
}

.social span i:hover {
  color: var(--accent-color);
  cursor: pointer;
}

/* Table row selector (color adjustment) for datatables
----------------------------------------------------*/

/*for selecting rows with dataTables.bootstrap.css
Normally (without bootstrap intergration I would add the display class to the table
and use the demo_table.css file that includes the css rules below*/

.table-striped tr.odd td, .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: var(--light-secondary-color);
}

.table-striped tr.even td, .table-striped > tbody > tr:nth-of-type(2n) {
  background-color: var(--light-color);
}

.table tr.odd.row_selected td {
  background-color: var(--accent-color);
  filter:brightness(90%);
  color: var(--light-color);
}

.table tr.even.row_selected td {
  background-color: var(--accent-color);
  filter:brightness(90%);
  color: var(--light-color);
}

/* breadcrumb styling 
---------------------------*/

.breadcrumb {
  background: var(--accent-color);
  color: var(--light-color);
  border: 1px solid var(--accent-color);
}

.breadcrumb a {
  text-decoration: none;
  color: var(--light-color);
  font-size: 12px;
}

.breadcrumb a:hover {
  color: var(--dark-color);
}

.breadcrumb>li {
  font-size:12px;
  color: var(--light-color);
}

.breadcrumb li span.divider {
  font-size: 12px;
  font-weight: bold;
}

.breadcrumb li.active {
  font-size: 12px;
  /* font-weight: bold; */
  color: var(--light-color);
}

/*Change default divider for breadcrumb*/

.breadcrumb>li+li:before {
  content: "> ";
}

.breadcrumb>li.dash {
  cursor: pointer;
  float: right;
  color: var(--light-color);
  margin-right: 0px;
}

.breadcrumb>li.dash:before {
  content: "";
}



/* nav tabs & pils styling 
---------------------------*/

.nav a {
  color: var(--dark-color);
}

.nav-tabs {
  border-bottom: 1px solid var(--accent-color);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active {
  color: var(--light-color);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  background-color: var(--accent-color);
  color: var(--light-color);
  border-color: var(--accent-color);
}

.nav-tabs > li > a:hover {
  background-color: var(--accent-color);
  color: var(--light-color);
  border-color: var(--accent-color);
}

.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
}

.nav.nav-pills li{
  background-color: var(--light-color);
  border-style: inherit;
  border-width: thin;
  border-radius: 5px;
  border-color: var(--background-color);
  margin-right: 5px;
  margin-top: 5px;
}

ul.nav.nav-pills li a.active{
  background-color: var(--secondary-color);
  color: var(--light-color);
}

#togglesections.active, #toggledays.active{
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.section-info-divider{
  padding: 5px 10px;
  background-color: var(--dark-color);
  font-weight: bold;
  border-radius: 5px;
}

/*bootstrap panels: add span icon on the left and buttons on the right*/

/* .panel-default {
  border-width: 1px;
  border-style: solid;
  border-color: var(--dark-color);
} */

.panel-body {
  background: var(--light-color);
}

.panel-default>.panel-heading {
  background-color: var(--dark-color);
  padding-bottom: 32px;
  color: var(--light-color);
}

.panel-title {
  /* float: left;
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: 'Jura', sans-serif; */

  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: -24px;
  font-size: 14px;
  font-family: 'Jura', sans-serif;
  display: flex;
  justify-content: space-between;
}



.panel>.panel-heading>.buttons {
  float: right;
  margin-top: -4px;
  margin-right: -7px;
}

.panel>.panel-heading>span.icon {
  border-right: 1px solid;
  border-color: inherit;
  float: left;
  opacity: 0.7;
  margin-top: -10px;
  padding: 12px 10px 10px 0px;
}

/*CSS rules for multiple records in one page as in payments*/

@media (max-width: 768px) {
  .multiplefieldset-header {
    display: none;
  }
}

@media (min-width: 768px) {
  .multiplefieldset-header {
    background-color: var(--dark-color);
    border-left: 1px solid var(--dark-color);
    border-right: 1px solid var(--dark-color);
    border-top: 1px solid var(--dark-color);
    border-bottom: 1px solid var(--dark-color);
    padding: 20px 20px 20px 15px;
    color: var(--light-color);
    font-size: 14px;
    font-weight: bold;
  }
}

.multiplefieldset {
  background: var(--light-color);
  border-left: 1px solid var(--dark-color);
  border-right: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
  clear: both;
  margin-bottom: 6px;
  margin-top: -7px;
  position: relative;
  padding: 10px 10px 10px 15px;
}

.multiplefieldset:nth-child(even) {
  background-color: var(--light-secondary-color);
}

.paylegend {
  color: var(--dark-color);
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 12px;
  text-shadow: 0 1px 0 var(--light-color);
  border: 0px;
}

.paylegend span {
  float: left;
  padding-right: 4px;
}

.paylegend .legend-text {
  padding-left: 10px;
  padding-top: 2px;
  cursor: pointer;
  float: left;
}

.paylegend .legend-selector {
  float: right;
  padding-right: 4px;
  margin-top: -3px;
}

/* Collaplsible fieldsets CSS based on
https://github.com/malteo/bootstrap-collapsible-fieldset*/

@media (max-width: 768px) {
  fieldset.collapsible {
    border: 1px solid var(--light-color);
  }
  fieldset.collapsible>div {
    display: none;
  }
  .multiplefieldset .selector {
    display: none;
    margin: 0px;
    padding: 0px;
  }
  /* Απόκρυψη των placeholders ΜΟΝΟ όταν γίνεται focus στα αντίστοιχα πεδία*/
  /* WebKit browsers */
  input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  /* Mozilla Firefox 4 to 18 */
  input:focus:-moz-placeholder {
    color: transparent;
  }
  /* Mozilla Firefox 19+ */
  input:focus::-moz-placeholder {
    color: transparent;
  }
  /* Internet Explorer 10+ */
  input:focus:-ms-input-placeholder {
    color: transparent;
  }
}

@media (min-width: 768px) {
  fieldset.collapsible>legend {
    display: none;
    margin: 0px;
    padding: 0px;
  }
  fieldset.collapsible>div {
    display: block!important;
  }
  .multiplefieldset .selector {
    display: block!important;
  }
  /* Απόκρυψη των placeholders ΓΕΝΙΚΑ αφού σε αυτή τη διάσταση υπαρχουν labels*/
  /* WebKit browsers */
  input::-webkit-input-placeholder {
    color: transparent;
  }
  /* Mozilla Firefox 4 to 18 */
  input:-moz-placeholder {
    color: transparent;
  }
  /* Mozilla Firefox 19+ */
  input::-moz-placeholder {
    color: transparent;
  }
  /* Internet Explorer 10+ */
  input:-ms-input-placeholder {
    color: transparent;
  }
}

/* label styles for sections shortcut-links */

.label-section{
  background-color: var(--accent-color);
}

label.ellipsis {
  display: block;           /* Ensure it behaves as a block element */
  width: 100%;              /* Take the full width of the parent col-sm-6 */
  white-space: nowrap;      /* Prevent text wrapping */
  overflow: hidden;         /* Hide overflowed text */
  text-overflow: ellipsis;  /* Display ellipsis (…) */
}

.form-check-label {
  font-weight: 400;
}

.stats {
background-color: var(--accent-color);
border: 10px solid var(--light-color);
height: 150px;
}

.stats:hover{
  scale: 1.1;
  z-index: 2;
}

.stats h3 {
  font-size: 15px;
  margin: 0;
  font-weight: 400;
  color: var(--light-color);
  text-transform: uppercase;
  text-align: center;
}
.stats-icon {
  text-align: center;
  height: 90px;
}

.stats-icon img {
  display: inline-block;
  height: 90px;
  vertical-align: middle;
  padding: 15px 0;
  filter: brightness(0) invert(1);
}

/* bootstrap modal styling */
#footerModal .modal-header{
  background: var(--primary-color);
  color: var(--light-color);
}

#footerModal .modal-body {
  overflow: visible;
  background: var(--background-color);
}

#footerModal .modal-footer {
  background: var(--background-color);
}

/*SCROLL TO TOP*/

/*http://antesarkkinen.com/blog/easy-jquery-scroll-to-top-of-the-page-code-snippet/*/

.scrollup {
  /* background: url("images/icon_gototop.png") no-repeat scroll 0 0 transparent; */
  bottom: 20px;
  display: none;
  height: 40px;
  position: fixed;
  right: 20px;
  text-indent: -9999px;
  width: 40px;
  z-index: 10000;
}

/*Welcome buttons styled as links with font awesome*/

.welcome {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.welcome .btn-link {
  text-decoration: none;
  color: var(--dark-color);
  /* text-shadow: 5px 4px 2px #cfcfcf; */
}

/* .welcome .btn-link>h4 {
  font-family: 'Jura', sans-serif;
  font-weight: 600;
} */

.welcome-section-title > .icon-plus, .welcome-section-title > .icon-minus {
  padding-right: 10px;
  padding-left: 5px;
} 

.welcome .btn-link:enabled:hover {
  color: var(--accent-color);
  filter: brightness(70%);
  /* text-shadow: 1px 1px var(--primary-color); */
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  /* Saf3.1+, Chrome */
  -moz-transform: scale(1.1);
  /* FF3.5+ */
  -ms-transform: scale(1.1);
  /* IE9 */
  -o-transform: scale(1.1);
  /* Opera 10.5+ */
}

.welcome .btn-link:disabled {
  color: var(--dark-color);
  opacity: 0.5; /* 50% transparency */
  text-shadow: none;
}

.welcome .btn-link:disabled~.small {
  color: var(--dark-color);
  opacity: 0.5; /* 50% transparency */
}

.welcome-section-title {
  cursor: pointer;
  text-align: left;
  margin-top: 20px;
  background: var(--accent-color);
  padding: 10px 0px 10px 10px;
  width: 100%;
  color: var(--light-color);
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  color: var(--light-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.welcome-section-title.no-select {
  cursor:default;
  background-color: var(--primary-color);
}

.welcome-section-body {
  background-color: var(--light-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.welcome-section-body.manage-period {
  padding: 20px 15px 40px 20px;
  background: var(--secondary-color);
  color: var(--light-color);
}

.panel-scroll {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

/* RowGrouping addon for datatables custom css 
---------------------------------------------------------------------*/

.group {
  background-color: var(--accent-color);
  font-family: 'Jura', sans-serif;
  font-weight: 700;
}

/*---------------------------------------------------------------------*/


/*.btn-openpage {
  background-color: var(--accent-color);
  color: var(--light-color);
}*/

.btn-openpage:hover, .btn-reset:hover {
  background: var(--secondary-color);
  color: var(--light-color);
}

.btn-openpage:active, .btn-reset:active {
  background: var(--accent-color);
  color: var(--light-color);
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  z-index: 0;
}

.pagination > li > a {
  color: var(--dark-color);
  background: var(--light-color);
}

.pagination > .disabled > a {
  background: var(--light-color);
}

.pagination > li > a:hover, .pagination > .disabled a:hover {
  background: var(--accent-color);
  color: var(--light-color);
  border-top-color: var(--accent-color);
  border-bottom-color: var(--accent-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

table th {
  font-family: 'Play', sans-serif;
  font-weight: 700;
}

fieldset legend {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  border-bottom-color: var(--primary-color);
}

li.select2-search-choice {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
}

.btn-success, .btn-openpage, .btn-reset, .btn-openpage:focus, .btn-success:focus {
  background: var(--accent-color);
  /* box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.07) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.09), 0 0 0 rgba(0, 0, 0, 0); */
  color: var(--light-color);
  /* font-size: 12px; */
  /* height: 34px; */
  /* padding: 0 14px; */
  /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); */
}

.btn-modal {
  background: var(--accent-color);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.07) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.09), 0 0 0 rgba(0, 0, 0, 0);
  color: var(--light-color);
  font-size: 12px;
  height: 32px;
  padding: 10 14px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}




/* off canvas menu css */

/* adjust body when menu is open */

body.slide-active {
  overflow-x: hidden;
}

/*first child of #page-content so it doesn't shift around*/

.no-margin-top {
  margin-top: 0px !important
}

/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */

#page-content {
  position: relative;
  padding-top: 70px;
  left: 0;
}

#page-content.slide-active {
  padding-top: 0
}

/* put toggle bars on the left :: not using button */

#slide-nav .navbar-toggle {
  cursor: pointer;
  position: relative;
  line-height: 0;
  float: left;
  margin: 0;
  width: 30px;
  height: 40px;
  padding: 10px 0 0 0;
  border: 0;
  background: transparent;
}

/* icon bar prettyup - optional */

#slide-nav .navbar-toggle>.icon-bar {
  width: 100%;
  display: block;
  height: 3px;
  margin: 5px 0 0 0;
}

#slide-nav .navbar-toggle.slide-active .icon-bar {
  background: var(--accent-color)
}

.navbar-header {
  position: relative
}

/* unfix the navbar when active so that all the menu items are accessible */

.navbar.navbar-fixed-top.slide-active {
  position: relative
}




/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */

@media (max-width:767px) {

  #slide-nav .container {
    margin: 0!important;
    padding: 0!important;
    height: 100%;
  }
  #slide-nav .navbar-header {
    margin: 0 auto;
    padding: 0 15px;
  }
  #slide-nav .navbar.slide-active {
    position: absolute;
    width: 100%;
    top: -1px;
    z-index: 1000;
  }
  #slide-nav #slidemenu {
    background: var(--light-color);
    left: -100%;
    width: 100%;
    min-width: 0;
    position: absolute;
    padding-left: 0;
    z-index: 4;
    top: -8px;
    margin: 0;
    margin-top: 70px;
  }
  #slide-nav #slidemenu .navbar-nav {
    min-width: 0;
    width: 100%;
    margin: 0;
  }
  #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
    min-width: 0;
    width: 100%;
    white-space: normal;
  }
  #slide-nav {
    border-top: 0
  }
  #slide-nav.navbar-inverse #slidemenu {
    background: var(--secondary-color)
  }
  /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
  #navbar-height-col {
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 100%;
    left: -100%;
    background: var(--light-color);
  }
  #navbar-height-col.inverse {
    background: var(--secondary-color);
    z-index: 1001;
    border: 0;
  }
  #slide-nav .navbar-form {
    width: 100%;
    margin: 8px 0;
    text-align: center;
    overflow: hidden;

  }
  #slide-nav .navbar-form .form-control {
    text-align: center
  }
  #slide-nav .navbar-form .btn {
    width: 100%
  }
}

.btn-danger{
  background: red;
  /* font-size: 12px; */
}

@media (min-width:768px) {
  #page-content {
    left: 0!important
  }
  .navbar.navbar-fixed-top.slide-active {
    position: fixed
  }
  .navbar-header {
    left: 0!important
  }
}

.form-control {
  background-color: var(--light-secondary-color);
}

.form-control[disabled] {
  background-color: var(--light-secondary-color);
  filter:brightness(80%);
}


@media (max-width: 768px) {
  /* Fix select2 dropbox position in mobile */
  .select2-dropdown.select2-dropdown--below {
    top: -25px;
  }

    /* Fix select2 arrow possition in select2 field in mobile */
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top : 10px;
  }

}