/**
 * My custom CSS rules go into this file
 */


/* Main title for my pages based on jumbotron from bootstrap docs.css 
---------------------------------------------------------------------*/
body {
    padding-top: 0px;
}

.jumbotron {
  position: relative;
  padding-top: 70px;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #423B3C;
}

.jumbotron h1 {
  font-size: 40px;
  font-weight: bold;
  color: #C43C35;
  letter-spacing: -1px;
  line-height: 1;
}

.jumbotron p {
  font-size: 20px;
  font-weight: 300;
  color: #DDDBD8;
  line-height: 1.25;
  margin-bottom: 0px;
}



/* Don't use Pattern overlay
------------------------- */

.jumbotron .container {
  position: relative;
  z-index: 2;
}


.jumbotron:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:none;
}



/* Sticky footer based on from http://ryanfait.com/sticky-footer/ 
--------------------------------------------------------------*/

* {
margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -110px;
}



.footer, .push {
height: 110px;
}


.footer {
  color: #FFF; 
  text-align: center;
  padding: 30px 0;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: #423B3C;
}
/* end of sticky footer*/



/* Table row selector (color adjustment) for datatables
----------------------------------------------------*/
/*for selecting rows with dataTables.bootstrap.css
Normally (without bootstrap intergration I would add the display class to the table
and use the demo_table.css file that includes the css rules below*/

.table tr.odd.row_selected td {
    background-color: #51A351;
}

.table tr.even.row_selected td {
    background-color: #51A351;
}



/* change background colors 
---------------------------*/
body{
  background-color: #EEEEEE;
}


/* breadcrumb styling 
---------------------------*/

.breadcrumb {
  background-color: #E5E5E5;
  /*border-bottom: 1px solid #D6D6D6;
  border-top: 1px solid #D6D6D6;*/
  border:1px solid #D6D6D6;
  box-shadow: 0 0 1px #FFFFFF;

}

.breadcrumb a {
    text-decoration: none;
    color:#8C7D7F;
    font-size: 12px;
}

.breadcrumb a:hover {
    color:#423B3C;
}

.breadcrumb li span.divider {
    font-size: 12px; 
    font-weight: bold;
}

.breadcrumb li.active {
    font-size: 12px; 
    font-weight: bold;
}

/* nav tabs & pils styling 
---------------------------*/

.nav a{
    color:#5B5152;
}


.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background-color: #C43C35;
    color: #FFFFFF;
}

/* content boxes from  
Unicorn - Admin Template http://wrapbootstrap.com/preview/WB0F35928
---------------------------*/
/*.contentbox {
    background: none repeat scroll 0 0 #F9F9F9;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
    clear: both;
    margin-bottom: 16px;
    margin-top: 16px;
    position: relative;
}

.contentbox .title {
    background-color: #EFEFEF;
    background-image: -moz-linear-gradient(center top , #FDFDFD 0%, #EAEAEA 100%);
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}

.contentbox .title span.icon {
    border-right: 1px solid #CDCDCD;
    float: left;
    opacity: 0.7;
    padding: 9px 10px 6px 11px;
}

.contentbox .title h5 {
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 12px;
    margin: 0;
    padding: 12px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.contentbox .content {
    border-bottom: 1px solid #CDCDCD;
    padding: 12px 15px;
}


.contentbox .buttons {
    float: right;
    margin: 8px 10px 0 0;
}*/


/*bootstrap panels: add span icon on the left and buttons on the right*/

.panel-heading {
  padding-bottom: 25px;
}

.panel-title {
  float: left;
  padding-left: 10px;
  font-weight: bold;
/*  text-shadow: 0 1px 0 #FFFFFF;
  color: #666666;*/
  margin-bottom: 15px;
  font-size: 14px;
}

.panel >.panel-heading > .buttons {
    float: right;
    margin-top: -7px;
}

.panel >.panel-heading >span.icon {
    border-right: 1px solid;
    border-color: inherit;
    float: left;
    opacity: 0.7;
    margin-top: -10px;
    padding: 8px 10px 7px 0px;
}

/*CSS rules for multiple records in one page as in payments*/
@media (max-width: 768px) {
    .multiplefieldset-header{display: none;}
}

@media (min-width: 768px) {
    .multiplefieldset-header {
        border-left: 1px solid #CDCDCD;
        border-right: 1px solid #CDCDCD;
        border-top: 1px solid #CDCDCD;
        border-bottom: 1px solid #CDCDCD;
        padding: 20px 20px 20px 15px;
        color: #666666;
        font-size: 14px;
        font-weight: bold;
    }

/*    .multiplefieldset-header .selector {
      float:left;
      width:15px;
      padding-top:25px;
      padding-right:19px;
    }*/
}



.multiplefieldset {
    background: none repeat scroll 0 0 #F9F9F9;
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
    clear: both;
    margin-bottom: 6px;
    margin-top: -7px;
    position: relative;
    border-bottom: 1px solid #CDCDCD;
    padding: 16px 10px 10px 15px;
}

.multiplefieldset:nth-child(even) {
   background-color:#EEEEEE;
}

/*.multiplefieldset .selector {
  float:left;
  border-right: 1px solid #CDCDCD;
  width:30px;
  margin-left:10px;
  margin-right:10px;
  margin-top: -16px;
  padding-top:16px;
  padding-right:9px;
  padding-bottom: 37px;
  margin-bottom: -10px;
}*/


.paylegend {
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 12px;
    text-shadow: 0 1px 0 #FFFFFF;
    border:0px;
}

.paylegend span{
    float: left;
    padding-right: 4px;
}
.paylegend .legend-text{
    cursor:pointer;
    float: left;
}

.paylegend .legend-selector {
    float: right;
    padding-right: 4px;
    margin-top: -3px;
}



/* Collaplsible fieldsets CSS based on
https://github.com/malteo/bootstrap-collapsible-fieldset*/
@media (max-width: 768px) {
    fieldset.collapsible {
        border: 1px solid #D5D8D8;
    }

    fieldset.collapsible > div {
        display: none;
    }

    .multiplefieldset .selector {
      display: none;
      margin:0px;
      padding:0px;
    }

    /* Απόκρυψη των placeholders ΜΟΝΟ όταν γίνεται focus στα αντίστοιχα πεδία*/

    /* WebKit browsers */
    input:focus::-webkit-input-placeholder { color:transparent; }

    /* Mozilla Firefox 4 to 18 */
    input:focus:-moz-placeholder { color:transparent; }

    /* Mozilla Firefox 19+ */
    input:focus::-moz-placeholder { color:transparent; }

    /* Internet Explorer 10+ */
    input:focus:-ms-input-placeholder { color:transparent; }


}

@media (min-width: 768px) {
    fieldset.collapsible > legend {
      display: none;
      margin:0px;
      padding:0px;
    }

    fieldset.collapsible > div {
    display: block!important;
    }

    .multiplefieldset .selector{
      display: block!important;
    }

    /* Απόκρυψη των placeholders ΓΕΝΙΚΑ αφού σε αυτή τη διάσταση υπαρχουν labels*/
    
    /* WebKit browsers */
    input::-webkit-input-placeholder { color:transparent; }

    /* Mozilla Firefox 4 to 18 */
    input:-moz-placeholder { color:transparent; }

    /* Mozilla Firefox 19+ */
    input::-moz-placeholder { color:transparent; }

    /* Internet Explorer 10+ */
    input:-ms-input-placeholder { color:transparent; }

}


/*Payments Με τα επιλεγμένα...*/


/*@media (max-width: 768px) {
    .payments-selected {
      padding:5px 0px 50px 0px;
      margin-bottom: -20px;
    }

    .payments-selected span{
      display: box;
      float:right;
      margin: 3px 0px 0px 0px;
      padding: 0px 15px 10px 15px;
    }

    .payments-selected p{
      float:right;
    }
}

@media (min-width: 768px) {
    .payments-selected {
      padding:5px 0px 50px 0px;
      margin-bottom: -20px;
    }

    .payments-selected span{
      display: box;
      float:left;
      margin: 3px 0px 0px 0px;
      padding: 0px 15px 10px 15px;
    }

    .payments-selected p{
      float:left;
    }

}*/

/*SCROLL TO TOP*/
/*http://antesarkkinen.com/blog/easy-jquery-scroll-to-top-of-the-page-code-snippet/*/
    .scrollup {
        background: url("images/icon_gototop.png") no-repeat scroll 0 0 transparent;
        bottom: 20px;
        display: none;
        height: 40px;
        position: fixed;
        right: 20px;
        text-indent: -9999px;
        width: 40px;
    }


/*Welcome buttons styled as links with font awesome*/

    .welcome {
        text-align:center;
        margin-bottom:15px;
        margin-top:15px;

    }

    .welcome .btn-link {
        text-decoration: none;
        color: black;
        font-family: 'Ubuntu';

    }


   .welcome .btn-link:hover {
        color: red;
    }



    /*Use everywhere ubuntu font!
----------------------------*/
* {
    font-family: 'Ubuntu';
}

